header,
footer,
section {
    border: 1px solid black;
    padding: 1rem;
}

body {
    background: #eee;
}

.container {
    display: grid;
    grid-template-rows: 15vh auto 1fr auto;
}

footer {
    margin-top: 3rem;
}

.stocks {
    width: 70vw;
    margin: 0 auto;
    height: 100%;
}

header,
footer {
    background: lightblue;
}

.stock__img {
    width: 1.5rem;
    object-fit: contain;
}
