
.container {
    display: grid;
    grid-template-rows: 10vh auto 1fr 5vh;
}

.stocks {
    width: 70vw;
    margin: 0 auto;
    height: 100%;
}

.stocks__container {
    background-color: #eee;
    padding-bottom: 2rem;
}

.footer__container {
    background: lightblue;
}

footer {
    width: 70vw;
    margin: 10px auto 0;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    /* border: 1px solid black; */
}

.header__container {
    background: lightblue;
}

.header {
    width: 70vw;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.stock__img {
    width: 1.5rem;
    object-fit: contain;
}

.chart {
    width: 70vw;
    margin: 0 auto;
    background-color: #eee;
}

.chart__container {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);;
    padding: 2rem 0;
    z-index: 5;
}

.chartjs-render-monitor {
    background-color: #fff;
}
